<header>
  <div class="header-logo">
    TiteetApp
  </div>
  <ul class="header-menus">
    <li>TiteetAppとは</li>
  </ul>
</header>

<div class="about-main">
  <h2>TiteetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
</div>
