<!-- <header>
  <div class="header-logo">
    <a href="/">TiteetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">TiteetAppとは</a>
    </li>
  </ul>
</header> -->
<!-- <%
posts = [
  "今日からProgateでRailsの勉強するよー！" ,
  "hogehoge"
]
%> -->
<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>
